Test/UTItest/UTItest/obj/
Test/UTItest/UTItest/bin/
Test/UTItest/.vs/UTItest/v16/
Test/UTItest/UTItest/bin/
Test/UTItest/.vs/UTItest/DesignTimeBuild/
Develop/UTI/.vs/
Develop/UTI/bin/
Develop/UTI/obj/
